/* Desktop: 1200px > */
/* Планшет (гор.): 960px-1200px > */
/* Планшет (верт.): 640-960px > */
/* Телефон (гор.): 480-640px > */
/* Телефон (верт.): 320-480px > */

:root {
    --color-primary-green: #00CF00;
    --color-secondary-green: #009500;
    --color-primary-brown: #745540;
    --color-secondary-brown: #411F03;
    --color-menu-text: #FEFBEC;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.header__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: stretch;
    gap: 5px;
    background: var(--color-secondary-brown);
}

.header__nav-item {
    display: flex;
    align-items: center;
    background-color: var(--color-primary-brown);
    color: var(--color-menu-text);
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

.header__nav-item:hover {
    background-color: var(--color-secondary-brown);
}

.header__login {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.header_login-link {
    color: var(--color-secondary-brown);
    font-size: 15px;
}
.header_login-link:hover {
    color: var(--color-primary-brown);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5e9;
    color: #333;
}

.article-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-image img {
    max-width: 150px;
    border-radius: 4px;
}

.article-content {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.article-content h2 {
    color: var(--color-secondary-brown);
    margin: 0 0 10px;
    font-size: 1.5em;
}

.article-content p {
    margin: 10px 0;
    line-height: 1.6;
}

.article-products{
    transition: all 0.5s ease-in-out;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

button,
button:hover,
button:visited {
    color: #555;
    border-bottom: 4px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);
 
    box-shadow: inset 1px 1px 0 #f5f5f5;
}
 
button:before,
button:after {
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #a5a5a5;
}
 
button:hover {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
    background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
} 

