 /* Desktop: 1200px > */
/* Планшет (гор.): 960px-1200px > */
/* Планшет (верт.): 640-960px > */
/* Телефон (гор.): 480-640px > */
/* Телефон (верт.): 320-480px > */

@media (min-width: 960px) and (max-width: 1200px) {

    :root {
        --color-primary-green: #00CF00;
        --color-secondary-green: #009500;
        --color-primary-brown: #745540;
        --color-secondary-brown: #411F03;
        --color-menu-text: #FEFBEC;
        --color-text: #632706;
        --color-grey-button: #AE9481;
        --color-purple: #902250;
    }

    
}